<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="erp.erpProject.mapper.BoardMapper">

	<select id="NoticeList" resultType="erp.erpProject.model.NoticeVO">
	select
	bno, title, content,writer,created,updatedate 
	from notice
	limit #{pageNum} , #{amount}
	</select>
	
	<select id="getNotice" resultType="erp.erpProject.model.NoticeVO">
	select * from notice where bno = #{bno}
	</select>
	
	<insert id="createdNotice">
	insert into notice(title,content,writer) values (#{title},#{content},#{writer})
	</insert>
	
	<update id="updateNotice">
	update notice set title = #{title} , contnet = #{contnet} where bno = #{bno}
	</update>
	
	<delete id="delNotice">
	delete from notice where #{bno} = #{bno}
	</delete>
	
	<select id="getTotalCount" resultType="Integer">
	select count(*) from notice where bno > 0
	</select>
	
	<select id="increaseReply">
	update notice set replycnt = replycnt+1 where bno = #{bno}
	</select>
</mapper>